.bar-chart {
  width: 100%;
  height: 200px;
  padding: 10px;
  border-radius: 5px;
  background-color: #35415e;
}

.line-chart {
  width: 100%;
  height: 200px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 20px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: #35415e;
}

.pie-chart {
  width: 100%;
  height: 200px;
  padding: 20px;
  border-radius: 5px;
  background-color: #35415e;
}
