.bar-chart {
  width: 100%;
  height: 200px;
  background-color: green;
}

.line-chart {
  width: 100%;
  height: 200px;
  background-color: red;
}

.pie-chart {
  width: 100%;
  height: 200px;
  background-color: blue;
}
